export TARGET_PLATFORM="$(go env GOOS)/$(go env GOARCH)"
export EXTENSION_VSIX="runme-extension-${TARGET_PLATFORM/\//-}.vsix"
export GITHUB_TOKEN=$(gh auth token)
export GOAWAY=1

export BASE_OWNER=${BASE_OWNER:-unknown}
export FORK_OWNER=${FORK_OWNER:-unknown}
export GITHUB_ACTOR=${GITHUB_ACTOR:-unknown}
export GITHUB_EVENT_NAME=${GITHUB_EVENT_NAME:-unknown}
